@if (TempData["success_notification"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mx-3 mt-2" role="alert">
        <span class="fas fa-check-circle me-2"></span>
        @TempData["success_notification"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["error_notification"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mx-3 mt-2" role="alert">
        <span class="fas fa-times-circle me-2"></span>
        @TempData["error_notification"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}