@using CinemaBookingTask.ViewModels;
@model CreateCinemaVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Cinema</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" placeholder="Name" asp-for="Name" id="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" style="height: 100px"
                                  placeholder="Description" asp-for="Description" id="Description"></textarea>
                        <label>Description</label>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Cinema Image</label>
                    <input type="file" class="form-control" asp-for="Img"
                           accept="image/*" onchange="previewImage(event)">
                </div>

                <div class="mb-3">
                    <img id="preview" src="#" alt="Preview"
                         style="max-width:200px; display:none; border:1px solid #ccc;
                    padding:5px; border-radius:10px;" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/Admin/Cinema/Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        const preview = document.getElementById("preview");
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = e => {
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}