@model Category

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Category</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" placeholder="Name" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/Category/Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}