@model CinemaBookingTask.ViewModels.ForgetPasswordVM

@{
    ViewData["Title"] = "Forget Password";
}

<div class="container mt-5">

    <h2>Forget Password</h2>

    <form asp-action="ForgetPassword">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="EmailOrUserName" class="form-label"></label>

            <input asp-for="EmailOrUserName" class="form-control" />

            <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
        </div>

        <button type="submit"
                class="btn btn-outline-danger rounded-pill px-4">
            Send
        </button>

    </form>

</div>